<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}"> home </a>
            <a href="{% url 'create_receipt' %}"> create receipt </a>
            <a href="{% url 'accounts' %}"> accounts </a>
            <a href="{% url 'create_account' %}"> create account </a>
            <a href="{% url 'categories' %}"> categories </a>
            <a href="{% url 'create_category' %}"> create category </a>
            <a href="{% url 'logout' %}"> logout </a>
        {% endif %}
    </nav>
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <tr>{{account.name}}</tr>
                        <tr>{{account.number}}</tr>
                        <tr>{{account.receipts.all|length}}</tr>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
