<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Receipt</title>
    </head>
    <body>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}"> home </a>
                <a href="{% url 'create_receipt' %}"> create receipt </a>
                <a href="{% url 'accounts' %}"> accounts </a>
                <a href="{% url 'create_account' %}"> create account </a>
                <a href="{% url 'categories' %}"> categories </a>
                <a href="{% url 'create_category' %}"> create category </a>
                <a href="{% url 'logout' %}"> logout </a>
            {% endif %}
        </nav>
        <main>
            <div>
                <h1>Create Receipt</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
