<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}"> home </a>
            <a href="{% url 'create_receipt' %}"> create receipt </a>
            <a href="{% url 'accounts' %}"> accounts </a>
            <a href="{% url 'create_account' %}"> create account </a>
            <a href="{% url 'categories' %}"> categories </a>
            <a href="{% url 'create_category' %}"> create category </a>
            <a href="{% url 'logout' %}"> logout </a>
        {% endif %}
    </nav>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{receipt.vendor}}</td>
                    <td>{{receipt.total}}</td>
                    <td>{{receipt.tax}}</td>
                    <td>{{receipt.date|date:"n/j/y"}}</td>
                    <td>{{receipt.category.name}}</td>
                    <td>{{receipt.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </main>
</body>
</html>
